<%= form_for(@purchase_receipt) do |f| %>
  <% if @purchase_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_receipt.errors.count, "error") %> prohibited this purchase_receipt from being saved:</h2>

      <ul>
      <% @purchase_receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receipt %><br />
    <%= f.text_field :receipt %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
