<h1>Listing purchase_receipts</h1>

<table>
  <tr>
    <th>Receipt</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchase_receipts.each do |purchase_receipt| %>
  <tr>
    <td><%= purchase_receipt.receipt %></td>
    <td><%= purchase_receipt.user_id %></td>
    <td><%= link_to 'Show', purchase_receipt %></td>
    <td><%= link_to 'Edit', edit_purchase_receipt_path(purchase_receipt) %></td>
    <td><%= link_to 'Destroy', purchase_receipt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase receipt', new_purchase_receipt_path %>
